<head>
	<meta charset="utf-8" />
	<!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
	wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
	<title>{{ page.title }} - {{ site.title }}</title>
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<!-- Meta data -->
	<meta name="description" content="{{ page.description }}" />
	<!-- Meta data-->
	<!--[if gte IE 9 | !IE ]><!-->
	<link href="{{ "/assets/favicon.ico" | prepend: site.baseurl }}" rel="icon" type="image/x-icon" />
	<link rel="stylesheet" href="{{ "/css/wet-boew.css" | prepend: site.baseurl }}" />
	<!--<![endif]-->
	<link rel="stylesheet" href="{{ "/css/theme.css" | prepend: site.baseurl }}" />
	<!--[if lt IE 9]>
	<link href="{{ "/assets/favicon.ico" | prepend: site.baseurl }}" rel="icon" type="image/x-icon" rel="shortcut icon" />
	<link rel="stylesheet" href="{{ "/css/ie8-wet-boew.css" | prepend: site.baseurl }}" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
	<script src="{{ "/js/ie8-wet-boew.js" | prepend: site.baseurl }}"></script>
	<![endif]-->
	<!--[if lte IE 9]>
	<![endif]-->

	<noscript><link rel="stylesheet" href="{{ "/css/noscript.css" | prepend: site.baseurl }}"></noscript>
	<script>dataLayer1 = [];</script>
</head>
