    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TLGQ9K" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer1'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer1','GTM-TLGQ9K');</script>
    <!-- End Google Tag Manager-->
    <ul id="wb-tphp">
      <li class="wb-slc">
        <a class="wb-sl" href="#wb-cont">Skip to main content</a>
      </li>
      <li class="wb-slc visible-md visible-lg">
        <a class="wb-sl" href="#wb-info">Skip to site information</a>
      </li>
    </ul>
    <header role="banner">
      <div id="wb-bnr" class="container">
        <section id="wb-lng" class="visible-md visible-lg text-right">
          <h2 class="wb-inv">Language selection</h2>
          <div class="row">
            <div class="col-md-12">
              <ul class="list-inline margin-bottom-none">
                <li><a lang="fr" href="{{page.otherLanguage}}">Français</a></li>
              </ul>
            </div>
          </div>
        </section>
        <div class="row">
          <div class="brand col-xs-9 col-md-6">
            <a href="http://www.canada.ca/en/index.html"><object type="image/svg+xml" tabindex="-1" role="img" data="{{ "/assets/sig-blk-en.svg" | prepend: site.baseurl }}" aria-label="Government of Canada"></object>
            </a>
          </div>
          <section class="wb-mb-links col-xs-3 visible-sm visible-xs" id="wb-glb-mn" >
            <h2>Menu</h2>
            <ul class="list-inline text-right chvrn">
              <li><a href="#mb-pnl" title="Menu" aria-controls="mb-pnl" class="overlay-lnk" role="button"><span class="glyphicon glyphicon-th-list"><span class="wb-inv">Menu</span></span></a></li>
            </ul>
            <div id="mb-pnl"></div>
          </section>
          <section id="wb-srch" class="col-xs-6 text-right visible-md visible-lg">
            <h2 class="wb-inv">Search</h2>
            <form action="#" method="post" name="cse-search-box" role="search" class="form-inline">
              <script type="text/javascript" src="https://www.google.com/jsapi"></script>
              <script type="text/javascript">
              var autoCompletionOptions = { 'validLanguages' : 'en', };
              google.load( 'search', '1');
              google.setOnLoadCallback( function() {google.search.CustomSearchControl.attachAutoCompletionWithOptions( '008724028898028201144:knjjdikrhq0', document.getElementById( 'wb-srch-q' ), 'cse-search-box', autoCompletionOptions );});
              google.setOnLoadCallback( function() {setTimeout( function(){google.search.CustomSearchControl.attachAutoCompletionWithOptions( '008724028898028201144:knjjdikrhq0', document.getElementById( 'wb-srch-q-imprt' ), 'cse-search-box',autoCompletionOptions );}, 2000);});
              </script>
              <div class="form-group">
                <label for="wb-srch-q" class="wb-inv">Search website</label>
                <input id="wb-srch-q" class="wb-srch-q form-control" name="wb-srch-q" type="search" value="" size="27" maxlength="150" placeholder="Search Canada.ca" />
              </div>
              <div class="form-group submit">
                <button type="submit" id="wb-srch-sub" class="btn btn-primary btn-small" name="wb-srch-sub"><span class="glyphicon-search glyphicon"></span><span class="wb-inv">Search</span></button>
              </div>
            </form>
          </section>
        </div>
      </div>
      <nav role="navigation" id="wb-sm" class="wb-menu visible-md visible-lg" data-trgt="mb-pnl" data-ajax-fetch="{{ "/ajax/sitemenu-en.html" | prepend: site.baseurl }}" typeof="SiteNavigationElement">
        <h2 class="wb-inv">Site menu</h2>
        <div class="container visible-md visible-lg nvbar">
          <div class="row">
            <ul class="list-inline menu">
              <li><a href="http://www.canada.ca/en/services/jobs/index.html">Jobs</a></li>
              <li><a href="http://www.cic.gc.ca/english/index.asp">Immigration</a></li>
              <li><a href="http://travel.gc.ca/">Travel</a></li>
              <li><a href="http://www.canada.ca/en/services/business/index.html">Business</a></li>
              <li><a href="http://www.canada.ca/en/services/benefits/index.html">Benefits</a></li>
              <li><a href="http://www.canada.ca/en/services/health/index.html">Health</a></li>
              <li><a href="http://www.canada.ca/en/services/taxes/index.html">Taxes</a></li>
              <li><a href="http://www.canada.ca/en/services/index.html">More services</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <nav role="navigation" id="wb-bc" class="" property="breadcrumb">
        <h2 class="wb-inv">You are here:</h2>
        <div class="container">
          <div class="row">
            <ol class="breadcrumb">
              <li><a rel="home" href="http://www.canada.ca/en/index.html">Home</a></li>
              <li><a href="#">News</a></li>
              <li><a href="#">{% if page.layout == "news" %}News Release{% endif %}{% if page.layout == "mediaAdvisory" %}Media advisory{% endif %}</a></li>
              <li>{{page.title}}</li>
            </ol>
          </div>
        </div>
      </nav>
    </header>